.center_title {
	text-align: center;
}

form {
	text-align: center;
}

form input {
	display: block;
	margin: 10px auto 10px auto;
}
form button {
	text-align: center;
	display: block;
	margin: 10px auto 10px auto;
}